@import "../../styles/var";
@import "../../styles/placeholders";
@import "~bulma";

.navbar .navbar-item img {
  max-height: none;
}

.navbar-main {
  & > .navbar-item.active:after {
    @extend %dot;
    content: " ";
    position: absolute;
    bottom: 0.8rem;
    left: 50%;
    margin-left: -0.25rem;

  }
  .navbar-item {
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.5rem 1.75rem;
    @include desktop-only {
      padding: 0.5rem 0.75rem;
    }
  }
}

.navbar-white {
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.03);
  .navbar-main {
    & > .navbar-item {
      border-bottom: 2px solid transparent;
      &.active {
        color: $blue;
        border-color: $blue;
        &:after {
          content: none;
        }
      }
    }
  }
}

.navbar-brand .navbar-item {
  img {
    max-height: none;
  }
  span {
    font-size: 0.9rem;
  }
  .brand-label {
    margin-top: 12px;
  }
}
.navbar-burger {
  color: transparentize($white, 0.2);
  &:hover {
    color: $white;
  }
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
  max-height: 3rem;
  border-radius: 1.5rem;
  border: 2px solid white;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

.person-description {
  display: inline-block;
  vertical-align: middle;
  color: $white;
  strong {
    font-size: 0.9rem;
    color: $white;
  }
  span {
    font-size: 0.7rem;
    letter-spacing: 1px;
    opacity: 0.7;
  }
}

.divider-left {
  border-left: 1px solid rgba(0,0,0,0.2);
}

.navbar.navbar-white {
  background-color: $white;
  a, a:hover {
    color: $grey-dark;
  }
  .button.is-primary {
    color: $white;
  }
}

.circle-icon {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  display: flex;
  border: 2px solid $white-03;
  margin-right: 0.6em;
  color: $white;
  i {
    width: 100%;
    font-size: 0.7rem;
    line-height: 1.3rem;
  }
}

