// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

$blue: #465DDA;
$blue-dark: #0E21D7;
$white: #FFFFFF;
$bg-grey: #f6f9fc;

$black-01: rgba(0,0,0,0.1);
$black-02: rgba(0,0,0,0.2);
$white-01: rgba(255,255,255,0.1);
$white-02: rgba(255,255,255,0.2);
$white-03: rgba(255,255,255,0.3);
$grey: #ADB9CF;
$grey-light: #BAC5D5;
$grey-dark: #98A1AE;
$primary: $blue;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
//$grey-dark: $brown;
//$grey-light: $beige-light;
//$primary: $blue;
//$link: $blue;

//// Update some of Bulma's component variables
//$control-border-width: 2px;
//$input-background-color: $beige-lighter;
//$input-border-color: transparent;
//$input-shadow: none;

//
$navbar-background-color: $blue;
$navbar-item-color: transparentize($white, 0.2);
$navbar-item-hover-color: $white;
$navbar-item-hover-background-color: transparentize($white, 0.92);
//$navbar-item-active-background-color:;
