// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

$blue: #465DDA;
$blue-dark: #0E21D7;
$white: #FFFFFF;

$black-01: rgba(0,0,0,0.1);
$black-02: rgba(0,0,0,0.2);

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
//$grey-dark: $brown;
//$grey-light: $beige-light;
//$primary: $blue;
//$link: $blue;

//// Update some of Bulma's component variables
//$control-border-width: 2px;
//$input-background-color: $beige-lighter;
//$input-border-color: transparent;
//$input-shadow: none;

//
$navbar-background-color: $blue;